doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Clothes Store

    // Bootstrap CDN Link
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    )
    // Font Awesome CDN Link
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    )
    link(rel="stylesheet" href="./stylesheets/styles.css")

  body
    // Header section
    header
      .site-logo
        img(src="./images/www.nickelfox.com.png", alt="Official website", class="site-link-img")

      section.header-section
        // Nav section
        .nav-section
          // Left Nav Section
          .nav-left
            div
              img(src="./images/Vector.png", alt="Vector Image", class="vector-img")
            div.fashion fashion
          
          // Right Nav Section
          .nav-right
            ul.nav-list
              li.li-group Catlogue
              li.li-group Fashion
              li.li-group Favorite
              li.li-group Lifestyle
              li.li-group
                button.btn.btn-dark Signup
              li
                i.fa-solid.fa-bars.bar-link

        // Hero Section
        .container-fluid.hero-section
          .row
            .col-6.left-hero
              h1.left-hero-text.mb-3
                span.let Let's
                br
                | explore
                br
                span.unique unique
                br
                | clothes.
              p.mb-3.hero-desc Live for influential and innovative fashion!
              button.btn.btn-dark.shop-button Shop now
            .col-6.right-hero
              img(src="./images/hero-image.png", alt="Hero Image", class="hero-image")

    // Brand Section
    section.container-fluid.brand
      img(src="./images/brand-1.png", alt="Brand-1", class="brand-img")
      img(src="./images/brand-2.png", alt="Brand-2", class="brand-img")
      img(src="./images/brand-3.png", alt="Brand-3", class="brand-img")
      img(src="./images/brand-4.png", alt="Brand-4", class="brand-img")
      img(src="./images/brand-5.png", alt="Brand-5", class="brand-img")
      img(src="./images/brand-6.png", alt="Brand-6", class="brand-img")

    // Product Section
    section.product-section
      div.new-arrivals New Arrivals
      .vector-yellow
        img(src="./images/vector-yellow.png", alt="Vector yellow")

      .row.gap-5.product-grid
        // First card
        .col.product-grid-item.card
          .card-image-item
            img(src="./images/product-1.png", alt="Product-1", class="card-image")
          .card-details
            .title-desc
              div
                h6 Hoodies & Sweatshirt
              div Explore Now!
            div
              button.btn.btn-primar
                i.fa-solid.fa-cart-shopping
                | Shop now

        // Second card
        .col.product-grid-item.card
          .card-image-item
            img(src="./images/product-2.png", alt="Product-1", class="card-image")
          .card-details
            .title-desc
              div
                h6 Coats & Parkas
              div Explore Now!
            div
              button.btn.btn-primar
                i.fa-solid.fa-cart-shopping
                | Shop now

        // Third card
        .col.product-grid-item.card
          .card-image-item
            img(src="./images/product-3.png", alt="Product-1", class="card-image")
          .card-details
            .title-desc
              div
                h6 Tees & T-Shirt
              div Explore Now!
            div
              button.btn.btn-primar
                i.fa-solid.fa-cart-shopping
                | Shop now

        // Fourth card
        .col.product-grid-item.card
          .card-image-item
            img(src="./images/product-1.png", alt="Product-1", class="card-image")
          .card-details
            .title-desc
              div
                h6 Hoodies & Sweatshirt
              div Explore Now!
            div
              button.btn.btn-primar
                i.fa-solid.fa-cart-shopping
                | Shop now

    // Footer Section
    footer.bg-light.text-center.text-white.my-5
      // Grid container
      .container.p-4.pb-0
        // Section: Social media
        section.mb-4
          a.btn.btn-primary.btn-floating.m-1(style="background-color: #3b5998", href="#!")
            i.fab.fa-facebook-f
          a.btn.btn-primary.btn-floating.m-1(style="background-color: #55acee", href="#!")
            i.fab.fa-twitter
          a.btn.btn-primary.btn-floating.m-1(style="background-color: #dd4b39", href="#!")
            i.fab.fa-google
          a.btn.btn-primary.btn-floating.m-1(style="background-color: #ac2bac", href="#!")
            i.fab.fa-instagram
          a.btn.btn-primary.btn-floating.m-1(style="background-color: #0082ca", href="#!")
            i.fab.fa-linkedin-in
          a.btn.btn-primary.btn-floating.m-1(style="background-color: #333333", href="#!")
            i.fab.fa-github

      // Copyright
      div.text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2)")
        | © 2024 Copyright:
        a.text-white(href="https://globaltours.com/") Online Clothes Stores Inc.

    // Bootstrap Javascript
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    )
